
.child2>ol{
	text-align-last: left;
}
@media only screen and (max-width: 1024px) {
h2{
	right: 0;
}
.child2>ol{
line-height: 1.5;
}}
@media only screen and (max-width: 768px) {
h2{
	right: 2%;
}}
@media only screen and (max-width: 414px) {
.child2>ol{
 	position: relative;
 	top: 28vh;}
}